.list{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    
}

.list-item{
    background-color: transparent;
}

.link-text{
    text-decoration: none;
    color:white
}

.button{
    width: 95%;
}